/* nav.css */

.nav {
    display: flex;
    background-color: var(--main-color);
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: #022550;
    z-index: 9999;
    padding: 2vh 0 2vh 5%;
  }
  
.links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
}
  
.links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  font-size: medium;
  padding-bottom: 1vh;
}

.links .Link a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #e2f7ff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.links .Link a:hover::after {
  width: 100%;
  transition-delay: 0.1s;
}
.links button{
  all: unset;
  background-color: white;
  font-size: 1.3rem;
  padding: 10px 30px;
  margin-left: 30%;
  border-radius: 12px;
  color: var(--main-color);
  transition: 0.3s;
  font-size: medium;
}

.links button:hover{
 background-color: #022550;
 color: #fff;
 box-shadow: 0 0 0.3vh #fff;
}