.mult{
    margin-left: 5vw;
    width: 40vw;
    margin-top: 15vh;
    margin-right: 3vw;
}


.list{
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
}
.selected {
    border-bottom: 3px solid var(--second-color); 
}

.button{
    border: none;
    size: 1em;
    font-size: large;
    cursor: pointer;
    background-color: white;
    padding-bottom: 2%;
    color: var(--main-color);
}
