:root{
  --main-color: #04326B;
  --second-color: #087CA7;
  --third-color: #DAF5FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: auto;
}
.login-page{
  overflow-y: hidden;
}
a {
  text-decoration: none;
}

li{
  list-style: none;
}
.main{
  overflow: scroll;
}