

.agenda{
    margin-left: 3.5vw;
    margin-top: 2%;
}

.button{
    margin-top: 2vh;
    cursor: pointer;
    transition: 0.3s;
}


.h{
    color: var(--main-color);
    margin-bottom: 2vh;
}

.table{
    margin: 1% 2%;
    width: 90%;
    border-spacing: 4px 0;
}
.thead{
   padding-bottom: 1%;
   color: var(--main-color);
}

.row, .col{
    padding: 1.3%;
    

}
.row{
    width: 10%;
    padding: 2%;
}
.tableB{
    background-color: rgba(103, 141, 246, 0.105);
}
.ctn{
    background-color: rgba(103, 141, 246, 0.167);
    width: 15%;
}
.specialDay {
    color: var(--second-color);
}
.prevButton{
    margin-right: 80%;
}
.nextButton, .prevButton{
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 0.5%;
    border-radius: 10px;
}
.cellFilled{
    background-color: var(--main-color);
    color: white;
    padding: 1%;
}
/** FORM STYLE **/
.h2{
   color: var(--main-color);
   margin-top: 4%;
}

.form{
    font-size: 1.4rem;
    margin-top: 1%;
    line-height: 2.1rem;
    margin-bottom: 4%;
}
.date , .heure{
    margin-right: 3%;
}
.dateI{
    margin-right: 3%;
    font-size: 1.1rem;
    color: var(--main-color);
    border:1px solid var(--second-color);
}
.HeureI{
  font-size: 1.1rem;
  color: var(--main-color);
  border: 1px solid var(--second-color);
}
.flexF{
    display: flex;
}
.dcr{
  margin-top: 1%;
}

.textA{
    border: 1px solid var(--second-color);
    font-size: 1.1rem;
    margin-left: 3%;
    margin-top: 1%;
}
.ajout{
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 1.3rem;
    padding: 0.5% 2%;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 30%;
}
.ajout:hover{
    background-color: rgb(14, 45, 170);
}